@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    font-family: "Noto Sans", sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background-color:cornflowerblue;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;

}
ul{
  display: flex;
  margin-top: 10px;
}
li{
  list-style-type: none;
  margin-left: 15px;
  color: black;
  font-weight: 500;
}

a{
  text-decoration: none;
}

.heading{
  font-size: 4rem;
}
.btn-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btn{
  background-color: black;
  color: white;
  border:none;
  border-radius: 10px;
  font-weight: bold;
  width: 150px;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 16px;
}
.active{
  color:red;
}
.email-container{
  display: flex;
  flex-direction: column;
}
.password-container{
  display: flex;
  flex-direction: column;
}

input{
  padding: 10px;
  width: 300px;
  font-size: 17px;
  margin-top: 5px;
}
label{
  margin-top: 10px;
}
.cart-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height:80vh;
}
.product-image{
  width: 150px;
}
.cart{
  width: 300px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.product-name,.product-price,.product-rating{
  margin-top: 10px;
  text-align: center;
}
.product-heading{
  text-align: center;
}
.product-description{
  margin-top: 10px;
  width: 1000px;
  word-spacing: 2px;
}
.product-detail-container{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:80vh;
}