@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
    font-family: "Overpass", sans-serif;

}

button{
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
}
p{
  text-align: center;
}