@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
      font-family: "Outfit", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
h1{
    text-align: center;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}
.app{
    background-color:cyan;
    padding: 25px;
    border-radius: 10px;
    width: 800px;
}
.quiz-app{
    margin-top: 10px;
}
.quiz-option-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
button{
    margin-top: 5px;
}
.btn-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#next-btn{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;     
}
.play-again-button{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    font-size: 16px; 
}
#next-btn:hover{
    background-color: rgb(33, 33, 33);
}
button{
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    text-align: center;
}
h4{
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}
.correct{
    background-color: green;
    color: black;
}
.wrong{
    background-color:red;
    color: black;
}
.quiz-question{
    margin-top: 50px;
}