*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: monospace;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
button{
  margin-top: 10px;
}