@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: tomato;
  margin: 10px;
  border-radius: 10px;
}
nav{
  display: flex;
  margin: 10px;
}
p{
  margin-left: 20px;
  font-size: 19px;
  cursor: pointer;
}
button{
  background-color: black;
  color:white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}