@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    background-color:white;
    color:black;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-container{
    background-color: #1F2A48;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
input{
  padding: 15px;
  border: none;
  font-size: 17px;
  font-weight:bold;
  width: 500px;
  border-radius: 10px;
  background: none;
  color: white;
}
input:focus{
  outline: none;
}
button{
  padding: 14px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  font-weight: bold;
}
.card{
    background-color: #1F2A48;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.profile-photo{
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.first{
  display: flex;
}
.first .second-container{
  margin-left: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}

.second-container{
  display: flex;
  justify-content: end;
  margin-top: 50px;
}


.small-container1,.small-container2, .small-container3{
  border: 1px solid white;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  
}
.bio{
  font-weight: 400;
  font-size: 17px;
}

/* 
.followers .repository , .following{
  text-align: center;
} */
 .text{
  text-align: center;
  margin-top: 10px;
 }
 .third{
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
 }
 .first-third-container{
  margin-left: 100px;

 }
 .second-third-container{
  margin-left: 100px;
 }
 .third-small-container{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
 }
 .third-text{
  margin-left: 10px;
  font-weight: 600;
}
